/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

/*COMMON*/

#app-wrapper{
    width: 100%;
    height: 100vh;
    /* test*/
    background-color: coral;
}

img{
    width: 100%;
}

.padding-top-nav{
    padding-top: 6px;
}


/*MAIN*/
main{
    height: calc( 100% - 70px );
}

/*nav*/
nav{
    float: left;
    width: 200px;
    height: 100%;
    overflow: hidden;
    background-color: black;
    color: #919496;
    font-size: 13px;
}

.nav-container{
    display: flex;
    flex-direction: column;
    height: 100%;
}


.logo{
    width: 80%;
    height: 80px;
    padding: 15px 0;
}

/*playlist*/

.playlist{
    height: 100%;
    overflow-y: auto;
}

.playlist-container{
    height: 100%;
    min-height: 100px;
    flex-grow: 1;
    overflow: hidden;
}

.playlist-container h2{
    text-transform: uppercase;
    font-size: 18px;
    color: white;
    padding-left: 10px;
}

.nav-container li{
    padding: 8px 10px;
}

.nav-container a{
    color: #919496;
    text-decoration: none;
    display: inline-block;
}

.logo-list{
    width: 23px;
}

.nav-container a span{
    vertical-align: 35%;
}

.box-plus{
    width: 35px;
    height: 35px;
    font-size: 15px;
    padding: 8px;
    background-color: #919496;
    color: black;
    border-radius: 3px;
   
    display: inline-block;
    text-align: center;  
}

.crea-playlist{
    margin-top: 7px;
}

.text-plus{
    font-size: 15px;
}

/*user*/

.install{
    border-bottom: 1px solid #919496;
    padding: 6px 0;
    font-size: 13px;
}

.username{
    padding: 6px 0;
}

.username span{
    color: white;
}

.username strong{
    margin-left: 7px;
}

.install .logo-list{
    width: 15px;
}

.username .box-plus{
    border-radius: 50%;
    vertical-align: -25%;
    background-image: url(../img/profile.svg);
    background-size: cover;
}

.nav-container a:hover{
    color: white;
}

.nav-container li:hover{
    border-left: 2px solid greenyellow;
}



@media screen and (max-width:767px){

    .nav-xs-container{
        width: 50px;
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 3px 5px;
        text-align: center;
    }

    .nav-container{
        display: none;
    }

    nav{
        float: left;
        width: 50px;
        height: 100%;
        overflow: hidden;
        background-color: black;
        color: #919496;
    }

    .nav-xs-container img{
        padding: 10px 0;
    }

    .nav-xs-container a img{
        width: 80%;
        margin: auto;
    }

    .nav-xs-container .box-plus{
        border-radius: 50%;
        vertical-align: -25%;
        background-image: url(../img/profile.svg);
        background-size: cover;
    }

    .nav-xs-container .install img{
        width: 20px;
    }

    .nav-xs-container .user{
        text-align: center;
    }

    .nav-xs-container .main-links{
      flex-grow: 1;
    }

}


/*main-content*/

.main-content{
    float: left;
    width: calc( 100% - 200px );
    height: 100%;
    overflow-y: auto;
    background-color: indianred;
}




@media screen and (max-width:767px){
    .main-content{
        width: calc( 100% - 50px );
    } 
}











/*FINE MAIN*/

/*FOOTER*/
footer{
    height: 70px;
    overflow: hidden;
    background-color: #353536;
    /*test*/
    color: #919496;
}

.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  
}

.brano-container{
    display: flex;
    flex-direction: row;
    height: 80%;
    align-items: center;
    justify-content: space-between;
}

/*song-info*/
.song-info{
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    margin-right: 40px;
}

.song-info img{
    width: 45px;
    height: auto;
    padding: 0 5px;
    
}

.song-info .name-song{
    font-size: 10px;
}

/*reactions*/
.reactions{
    display: flex;
    
}

.song-info h5{
    color: white;
}

.reactions a{
    color: #919496;
    margin-right: 10px;
}

@media screen and (max-width:991px){
    .reactions{
        display: flex;
        flex-direction: column;
    }
}



/*FINE FOOTER*/

/*UPGRADE*/

.upgrade{
    position: fixed;
    top: 0;
    right: 0;
    height: 75px;
    background-color: rgba(0, 0, 0, 0.7);
    width: calc( 100% - 200px);
    text-align: right;
    padding-top: 28px;
    padding-right: 10px;
    
}

.upgrade-btn{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    border: 1px solid white;
    padding: 10px 35px;
    border-radius: 20px;
}

@media screen and (max-width:767px){
    .upgrade{
        width: calc( 100% - 50px);
    }
    
}

