/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

/*COMMON*/

#app-wrapper{
    width: 100%;
    height: 100vh;
    /* test*/
    background-color: coral;
}

img{
    width: 100%;
}

.padding-top-nav{
    padding-top: 6px;
}

h2{
    color: white;
    margin: 15px 0;
}



/*MAIN*/
main{
    height: calc( 100% - 70px );
}

/*nav*/
nav{
    float: left;
    width: 200px;
    height: 100%;
    overflow: hidden;
    background-color: black;
    color: #919496;
    font-size: 13px;
}

.nav-container{
    display: flex;
    flex-direction: column;
    height: 100%;
}


.logo{
    width: 80%;
    height: 80px;
    padding: 15px 0;
}

/*playlist*/

.playlist{
    height: 100%;
    overflow-y: auto;
}

.playlist-container{
    height: 100%;
    min-height: 100px;
    flex-grow: 1;
    overflow: hidden;
}

.playlist-container h3{
    text-transform: uppercase;
    font-size: 18px;
    color: white;
    padding-left: 10px;
}

.nav-container li{
    padding: 8px 10px;
}

.nav-container a{
    color: #919496;
    text-decoration: none;
    display: inline-block;
}

.logo-list{
    width: 23px;
}

.nav-container a span{
    vertical-align: 35%;
}

.box-plus{
    width: 35px;
    height: 35px;
    font-size: 15px;
    padding: 8px;
    background-color: #919496;
    color: black;
    border-radius: 3px;
   
    display: inline-block;
    text-align: center;  
}

.crea-playlist{
    margin-top: 7px;
}

.text-plus{
    font-size: 15px;
}

/*user*/

.install{
    border-bottom: 1px solid #919496;
    padding: 6px 0;
    font-size: 13px;
}

.username{
    padding: 6px 0;
}

.username span{
    color: white;
}

.username strong{
    margin-left: 7px;
}

.install .logo-list{
    width: 15px;
}

.username .box-plus{
    border-radius: 50%;
    vertical-align: -25%;
    background-image: url(../img/profile.svg);
    background-size: cover;
}

.nav-container a:hover{
    color: white;
}

.nav-container li:hover{
    border-left: 2px solid greenyellow;
}



@media screen and (max-width:767px){

    .nav-xs-container{
        width: 50px;
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 3px 5px;
        text-align: center;
    }

    .nav-container{
        display: none;
    }

    nav{
        float: left;
        width: 50px;
        height: 100%;
        overflow: hidden;
        background-color: black;
        color: #919496;
    }

    .nav-xs-container img{
        padding: 10px 0;
    }

    .nav-xs-container a img{
        width: 80%;
        margin: auto;
    }

    .nav-xs-container .box-plus{
        border-radius: 50%;
        vertical-align: -25%;
        background-image: url(../img/profile.svg);
        background-size: cover;
    }

    .nav-xs-container .install img{
        width: 20px;
    }

    .nav-xs-container .user{
        text-align: center;
    }

    .nav-xs-container .main-links{
      flex-grow: 1;
    }

}


/*main-content*/

.padding-main{
    padding: 0 15px;
}

.main-content{
    float: left;
    width: calc( 100% - 200px );
    height: 100%;
    overflow-y: auto;
    color: #919496;
    background-color: #161629;
}

/*options*/
.options-container{
    padding-top: 100px;
    text-align: center;
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

[class*=col-]{
    float: left;
}

.options{
    min-width: calc( 100% / 6 );
    margin: auto;
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 30px;
    padding: 0 10px;
}

.options-container a{
    color: #919496;
    text-decoration: none;
}

.options-container a:hover{
    border-bottom: 2px solid yellowgreen;
}


/*recently*/

.recently-container{
    width: 100%;
    margin: auto;
}

.container-albums{
    display: flex;
    flex-wrap: wrap;
}

.albums{
    max-width: calc( 100% / 6);
    padding-bottom: 30px;
}

.col_inner{
    padding: 10px 10px 10px 0;
}

.albums-content{
    text-align: center;
}
.title{
    color: white;
    font-size: 15px;
    padding: 7px 0;
}

.subtitle{
    padding-bottom: 18px;
}
/*create-for*/
.created-for{
    width: 100%;
}

/*FINE MAIN*/

/*FOOTER*/
footer{
    height: 70px;
    overflow: hidden;
    background-color: #353536;
    /*test*/
    color: white;
}

.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;  
}

/*brano-container*/
.brano-container{
    display: flex;
    flex-direction: row;
    height: 80%;
    align-items: center;
    justify-content: space-between;
}

/*song-info*/
.song-info{
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    margin-right: 40px;
}

.song-info img{
    width: 45px;
    height: auto;
    padding: 0 5px;
    
}

.song-info .name-song{
    font-size: 10px;
}

/*reactions*/
.reactions{
    display: flex;
    
}

.song-info .name-song{
    color: #919496;
}

.footer-container a{
    color: white;
    margin-right: 10px;
}

@media screen and (max-width:991px){
    .reactions{
        display: flex;
        flex-direction: column;
    }
}

/*console-container*/
.console-container{
    display: flex;
    flex-direction: column;
    height: 80%;
    text-align: center; 
}

.console-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.console-btn a{
    padding: 0 10px;
    text-decoration: none;
    vertical-align: middle;
}

.play-btn{
    font-size: 30px;
}

.console-bar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    font-size: 10px;
}

.console-bar{
    width: 400px;
    height: 4px;
    background-color: #919496;
    margin: 0 15px;
    border-radius: 3px;
}

.bar-progress{
    width: 100px;
    height: 4px;
    background-color: white;
    border-radius: 3px;
}

/*settings-container*/
.settings-container{
    display: flex;
    flex-direction: row;
    height: 80%;
    justify-content: space-between;
    align-items: center;
}

.settings-container a{
    text-decoration: none;
}

.settings-btn{
    flex-shrink: 0;
}

.bar-settings{
    width: 100px;
    height: 3px;
    background-color: #919496;
    margin: 0 10px;
    border-radius: 3px;
}

.bar-settings-progress{
    width: 20px;
    height: 3px;
    background-color: white;
    border-radius: 3px;
}

/*FINE FOOTER*/



/*UPGRADE*/

.upgrade{
    position: fixed;
    top: 0;
    right: 0;
    height: 75px;
    background-color: rgba(0, 0, 0, 0.7);
    width: calc( 100% - 200px);
    text-align: right;
    padding-top: 28px;
    padding-right: 10px;
    
}

.upgrade-btn{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    border: 1px solid white;
    padding: 10px 35px;
    border-radius: 20px;
}

@media screen and (max-width:767px){
    .upgrade{
        width: calc( 100% - 50px);
    }
    
}

/*FINE UPDATE*/

/*MEDIA QUERY main content*/

/*xs*/
@media screen and (max-width:767px){
    .main-content{
        width: calc( 100% - 50px );
       
    } 

    .options{
       min-width: calc( 100% / 4 );
    }

    .albums{
        max-width: calc( 100% / 2);
    }
}

/*s*/
@media screen and (min-width:768px) and (max-width:991px){
    .options{
        min-width: calc( 100% / 3 );
    }

    .albums{
        max-width: calc( 100% / 2);
    }
}

/*md*/
@media screen and (min-width:992px) and (max-width:1199px){
    .options{
        min-width: calc( 100% / 4 );
    }

    .albums{
        max-width: calc( 100% / 4);
    }
}

/*lg - non necessaria, già messa nel generico*/
@media screen and (min-width:1200px){
    .options{
        min-width: calc( 100% / 6 );
    }

    .albums{
        max-width: calc( 100% / 6);
    }
}


